:host {
  display: block;
  height: 100%;
}

ion-content {
  --background: none;
  background-image: url('/assets/image/login-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 16px;
}

.login-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-card {
  width: 100%;
  max-width: 360px;
  background: rgba(0, 0, 0, 0.7); // fondo oscuro transparente
  border: 2px solid #00ffff;      // borde estilo neón
  box-shadow: 0 0 12px #00ffff;
  color: white;
  backdrop-filter: blur(6px);
}

ion-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}



ion-card-title {
  text-align: center;
  color: white;
  font-size: 1.4rem;
  margin-top: 8px;
}

ion-item {
  --background: transparent;
  border: 1px solid #00ffff;
  border-radius: 6px;
  margin-bottom: 12px;
  width: 100%;
  max-width: 280px;  // 👍 Limita el ancho y permite centrado
}


ion-label {
  color: #ccc;
}

ion-input {
  
  color: white;
  padding: 10px;
  border-radius: 4px;
}


ion-button {
  font-weight: bold;
  text-transform: uppercase;
}
